*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   background-color: #000000;
}

/* Header styles */
header {
    width: 100%;
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold; 
    font-family: 'Dancing Script', cursive;

}
ul.nav {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the list items horizontally */
    align-items: center; /* Center the list items vertically */
    margin: 0;
    padding: 0;
}

ul.nav li {
    margin-right: 20px;
}

ul.nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s; /* Add a smooth transition effect */
}

/* Apply hover effect */
ul.nav a:hover {
    font-weight: bold;
}

/* Hamburger menu styles */
.menu-toggle {
    display: block; /* Always display the hamburger menu icon */
    font-size: 24px;
    padding-left: 20px;
    margin: 8px;
    cursor: pointer;
    z-index: 3;
}

/* Set color for the icons based on their type */
.fa-house {
    color: #f39c12;
}

.fa-user {
    color: #3498db;
}

.fa-phone {
    color: #e74c3c;
}

.fa-code {
    color: #2ecc71;
}

.fa-file {
    color: #f39c12;
}

.fa-blog {
    color: #1abc9c;
}
/* Add this CSS for the hamburger icon */
.fa-bars {
    cursor: pointer;
}

/* Media query for the hamburger menu */
@media (max-width: 768px) {
    ul.nav {
        display: none; /* Hide the regular menu */
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }

    ul.nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.nav li {
        margin: 10px 0;
    }
    
    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

section {
    background-image: url(''); /* Replace 'your-image.jpg' with the URL or path to your image */
    background-size: cover; /* Ensures the image covers the entire section */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Fixes the background when scrolling */
    /* You can also specify other background properties like background-position, background-color, etc. */
}


/* Common styles for the profile section */
.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

/* Text and icon container styles */
.text-icons-container {
    flex: 2;
    display: flex;
    justify-content: left;
}

/* Text container styles */
.text-container {
    text-align: center;
    font-size: 25px;
}

/* Name text styles */
.name-text {
    color:#f8f8f8;
    padding-left: 20px;
    margin: 10px;
    transition: color 0.3s; /* Text color animation */
}

/* Different text color for "I am" */
.name-text i.fa-hand-shake {
    background-color: #f9fbfd;
    color: rgb(255, 255, 255);
}

/* Different text color for "Shahzaib Haider Ali" */
.name-text:last-child {
    color: rgb(243, 245, 243); /* Change color for "Shahzaib Haider Ali" text */
}

/* Different text color for "Web Developer" */
.web-developer {
    font-size: 30px;
    letter-spacing: 3px;
    color: #ffffff; /* Custom text color */
}

/* Styles for icons */
.animated-icon {
    padding-left: 25px;
    font-size: 30px;
    margin: 20px;
    color: #f9fbfd; /* Default icon color */
    transition: color 0.3s; /* Icon color animation */
}
/* Button styles */
.download-button {
    text-align: center;
}

/* Animated text when button is hovered */
.animated-text a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(63,94,251);
    background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect for the button */
.animated-text a:hover {
    color: #007bff;
    background: #fff; /* Change background color on hover */
}


/* Hover effect for icons */
.animated-icon:hover {
    color: #333; /* Hover icon color */
}

/* Style for the image container */
.image-container {
    flex: 1;
    text-align: center;
}

/* Keyframe animation for the text color change */
@keyframes textColorChange {
    0% {
        color: #f8f8f8; /* Initial text color for animation */
    }
    100% {
        color: rgb(63,94,251);
        color: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        color: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    }
}

/* Apply the animation to specific elements */
.web-developer,
.animated-icon,
.name-text:last-child {
    font-size: 30px;
    animation: textColorChange 2s infinite alternate; /* Animation properties */
}

/* Social Icons Column Style */
.social-icons ul {
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin: 10px;
}

.social-icons li {
    list-style: none;
    margin-bottom: 10px; /* Adjust the spacing between social icons */
}
.gold {
    font-size: 50px;
    color: gold; /* Change the icon color to gold */
    position: relative; /* Set the position to relative */
    z-index: -1; /* Move the .gold element to the back */
}
.social-icons ul li a i:hover {
    transform: scale(1.1); /* Add a scale effect on hover */
}
.icon-container {
    display: flex;
    list-style: none;
}

.icon-container i {
    font-size: 50px;
    max-width: 50px;
    transition: transform 0.3s;
    margin: 10px; 
    padding-right: 20px;/* Add spacing between icons */
}

.icon-container i:last-child {
    margin-right: 0; /* Remove spacing for the last icon */
}

.icon-container i:hover {
    transform: scale(1.1);
}





/* Responsive styles */
@media (max-width: 768px) {
    .profile-section {
        flex-direction: column;
        align-items: center;
    }
    .text-icons-container {
        flex-direction: column;
    }
    .name-text {
        color: #ffffff; /* Change color for "I am" */
    }
    .name-text:last-child {
        color: #33FF57; /* Change color for "Shahzaib Ali" */
    }
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
    
}
