* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Add this CSS animation class */
.animate {
    animation: fade-in 4s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background: linear-gradient(297deg,  #000000, #23002c, #000000, #000000);
    background-size: 240% 240%;
    animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    body {
        background-size: 320% 320%;
        /* Adjust background size for smaller screens */
    }
}

header {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;

}

/* Style for the logo in the navbar */
.logo img {
    width: 250px;
    /* Set the logo size to your preferred medium size */
    height: auto;
}

ul.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

ul.nav li {
    margin: 0 20px;
}

ul.nav a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

/* Apply hover effect */
ul.nav a:hover {
    font-weight: bold;
}

/* Hamburger menu styles */
.menu-toggle {
    display: block;
    font-size: 24px;
    padding-left: 20px 10px 20px 10px;
    margin: 8px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

/* Set color for the icons based on their type */
.fa-house {
    color: #f39c12;
}

.fa-user {
    color: #3498db;
}

.fa-phone {
    color: #e74c3c;
}

.fa-code {
    color: #2ecc71;
}

.fa-file {
    color: #f39c12;
}

.fa-blog {
    color: #1abc9c;
}

/* Add this CSS for the hamburger icon */
.fa-bars {
    cursor: pointer;
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 768px) {
    ul.nav {
        background-color: #000000; /* Add background color for small screens */
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        overflow-y: auto;
    }

    ul.nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.nav li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 2;
    }
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
    padding-left: 20px;
}
.name {
    position: relative;
}

.wave-image {
    position: absolute;
    top: -20px; /* Adjust the top value to move the image up */
    width: 100px; /* Adjust the width to your desired size */
    z-index: -1; /* Position the image behind the text */
}


.name h1 {
    font-weight: bold;
    /* Make the text bold */
    font-size: 40px;
    /* Increase the font size */
    color: rgb(255, 255, 255);
    /* Set the text color to white */
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    z-index: 2;

    /* Add space below the text */
}

.name h1 span {
    color: rgb(64, 140, 187);
    color: -moz-radial-gradient(circle, rgb(34, 158, 235) 26%, rgb(223, 143, 145) 82%);
    color: -webkit-radial-gradient(circle, rgba(59, 123, 162, 1) 26%, rgb(253, 241, 241) 82%);
    color: radial-gradient(circle, rgb(197, 215, 226) 26%, rgb(238, 197, 199) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b7ba2", endColorstr="#ba474b", GradientType=1);
    display: inline-block;
    font-size: 50px;
    opacity: 0;
    transform: translateY(1em);
    animation: textAnimation 6s linear infinite;
    font-family: 'Dancing Script', cursive;
    z-index: 2;


    /* Set animation to run continuously with a 1-second gap */
}

@keyframes textAnimation {

    0%,
    100% {
        opacity: 0;
        transform: translateY(1em);
        color: ;
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

.name h2 {
    font-weight: medium;
    font-size: 20px;
    color: white;
    margin-top: 14px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;

}

.name h2 span {
    color: rgb(255, 255, 255);
    color: -moz-radial-gradient(circle, rgb(247, 247, 247) 26%, rgb(255, 255, 255) 82%);
    color: -webkit-radial-gradient(circle, rgb(0, 81, 131) 26%, rgb(253, 241, 241) 82%);
    color: radial-gradient(circle, rgb(255, 255, 255) 26%, rgb(0, 76, 163) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b7ba2", endColorstr="#ba474b", GradientType=1);
    display: inline-block;
    font-size: 20px;
    opacity: 0;
    transform: translateY(1em);
    animation: textAnimation 6s linear infinite;
    z-index: 2;
    font-family: 'Poppins', sans-serif;

}

@keyframes textAnimation {

    0%,
    100% {
        opacity: 0;
        transform: translateY(1em);
        color: ;
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Additional styling for the gold hand icon */
.fa-solid.fa-hand.fa-shake.gold {
    color: rgba(255, 255, 255, 0.87);
}

/* Styling for the CV button */
.download-button {
    text-align: center;
    margin-top: 20px;
    /* Add space above the button */
}

.download-button button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 20px 0;
    /* Move the button below the text */
    transition: margin 0.3s ease, background-color 0.3s ease;
    /* Smooth transition for margin and background-color */
}

.download-button button a {
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;

}

/* Hover effect for the button */
.download-button button:hover {
    background-color: #0056b3;
    /* Change the background color on hover */
}

/* Styling for the icon container */
.icon-container {
    text-align: center;
    margin-top: 20px;
    /* Add space above the icons */
}

.icon-container i {
    font-size: 40px;
    margin: 10px;
}

/* Additional styles can be added for responsiveness and other customizations */
/* Social icons styling */
.social-icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: inherit;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    transition: color 0.3s;
    /* Add a smooth color transition */
}

/* Add bounce animation to social icons */
.social-icon i {
    animation: bounce 2s infinite;
}

/* Add a hover effect to change the color on hover */
.social-icons a:hover {
    color: #007BFF;
    /* Change the color to your desired hover color */
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {

    /* Adjust styles for smaller screens here */
    .profile-section {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        text-align: center;
        /* Center text on smaller screens */
    }

    .name h1,
    .name h2 {
        font-size: 24px;
        /* Reduce font size for smaller screens */
    }

    .social-icons {
        margin-top: 20px;
        /* Add space below the text on smaller screens */
    }

    /* Fluid typography for the name */
    .name h1 {
        font-size: 4vw;
        /* Use viewport width as a unit for font size */
    }

    /* Fluid typography for the job title */
    .name h2 {
        font-size: 18px;
        padding-left: 20px;
        /* Use viewport width as a unit for font size */
    }

    .profile-section {
        max-width: 1000px;
        /* Adjust the max-width to your preference */
        margin: 0 auto;
        /* Center the content on larger screens */
    }

}

.image-container {
    text-align: center;
    /* Center the image horizontally */
    max-width: 100%;
    /* Make sure it doesn't exceed its parent's width */
}

.image-container img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container's width */
    height: auto;
    /* Maintain the image's aspect ratio */
    display: block;
    /* Remove any extra space below the image */
    margin: 0 auto;
    /* Center the image horizontally */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .image-container {
        max-width: 100%;
        /* Reduce the container width on smaller screens */
    }
}





#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 10px 20px 10px;
    margin: 20px;
}

.about-left img {
    max-width: 100%;
    animation: slideIn 3s ease;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 16px 8px 16px 8px;
    padding-right: 20px;
}

.about-right {
    max-width: 50%;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px;
    font-family: 'Roboto Slab', serif;
  
}

p {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    padding-right: 20px;
    letter-spacing: 2px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #ffffff;
    /* Set the border color */
    border-radius: 50%;
    /* Rounded border */
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    animation: slideIn 5s ease;
    /* Apply slide animation to the icons */
}

.icon-box:hover {
    transform: scale(1.1);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
    }

    .about-left {
        max-width: 100%;
        /* Full width for the image on smaller screens */
    }

    .about-right {
        max-width: 100%;
        /* Full width for the text container on smaller screens */
    }

    .icon-container {
        flex-direction: row;
        /* Align icons in a row on smaller screens */
        max-width: 100%;
        /* Full width for the icon container */
    }
}

/* Styles for the Portfolio section */
#portfolio {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    letter-spacing: 4px;

}

.portfolio-item {
    border: 2px solid #fff;
    /* Add a white border to each portfolio item */
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: calc(25% - 20px);
    transition: transform 0.2s;
    animation: fadeInUp 1s ease;
    background: transparent;
    /* Remove background color */
}

.portfolio-item img {
    max-width: 80%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 18px;
    font-weight: bold;
}

/* Hover effect for the button */
.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    /* Increase the size on hover */
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .portfolio-item {
        width: calc(33.33% - 20px);

    }


}


@media (max-width: 768px) {
    .portfolio-item {
        width: calc(50% - 20px);
    }

    .button {
        padding: 2px 4px;
        /* Decrease button size for smaller screens */
        font-size: 10px;
        /* Decrease font size for smaller screens */
    }

}


@media (max-width: 480px) {
    .portfolio-item {
        width: calc(70% - 20px);
    }

    .button {
        padding: 4px 8px;
        /* Decrease button size for screens 480px or less */
        font-size: 14px;
        /* Decrease font size for screens 480px or less */
    }
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    justify-content: center;
    margin-top: 20px;
}

#skills h2 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 20px 0;
}

.skill {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

}

.rating-container {
    background-color: transparent;
    padding: 2px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.rating {
    width: 0;
    height: 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s ease;
    background: linear-gradient(297deg, #71008d, #21cbff);
    background-size: 120% 120%;
    animation: gradient-animation 0.5s ease infinite;
    
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* Media query for responsiveness */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 70%;
    }
}

/* Styling for the Header */
.header {
    text-align: center;
    /* Center-align the content */
    padding: 20px;
    /* Add padding for spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.header h1 {
    font-family: 'Roboto Slab', serif;

    font-size: 36px;
    /* Font size for the title */
    margin: 0 auto;
    /* Center-align the h1 element */
    display: table;
    /* Center-align the h1 element (alternative method) */
}

/* Blog Section Styles */
#blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
}

.blog {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in;
}

.blog:hover {
    transform: scale(1.05);
}

.blog img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    flex: 1;
}

.blog h2 {
    color: #1a1919;
    font-size: 18px;
    margin: 10px 0;
}

/* Paragraph Container Styles */
.blog p {
    color: #000000;
    font-size: 14px;
    /* Smaller font size for paragraphs */
    overflow: hidden;
    /* Hide the overflow content */
    flex: 1;
    white-space: nowrap;
    /* Prevent text from wrapping */
    text-overflow: ellipsis;
    /* Add ellipsis (...) for text that overflows */
    font-family: 'Poppins', sans-serif;

}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .blog {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .blog {
        width: 100%;
        /* Make the blogs take full width on smaller screens */
        padding: 10px;
        /* Reduce padding for smaller screens */
    }
}

#contact {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

form {
    text-align: left;
    font-family: 'Poppins', sans-serif;

}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;


}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;

}

button:hover {
    background-color: #0056b3;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
    .contact-container {
        width: 70%;
    }
}

@media (max-width: 480px) {
    #contact {
        padding: 10px;
    }

    .contact-container {
        padding: 10px;
    }

    button {
        font-size: 16px;
    }
}

.contact-info {
    margin-top: 20px;
    text-align: center;
    border: 2px solid #fff;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .contact-info {
        font-size: 14px; /* Reduce font size for the contact-info text */
    }

    .contact-info a {
        font-size: 12px; /* Reduce the email font size for smaller screens */
    }
}




footer {
    text-align: center;
    color: #fff;
    /* Text color for the copyright notice */
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;

}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    footer {
        font-size: 10px;
        /* Reduce font size on smaller screens */
    }
}